@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: ##f0eeed;
}

@theme inline {
  /* FONTS */
  --font-satoshi: var(--font-satoshi);
  --font-integral: var(--font-integral);
  /* COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #000000;
  --color-secondary: #f0f0f0;
  --color-discount: #ff33331a;
  --color-backdrop: #00000033;
  --color-hero: #f2f0f1;
  /* BREAK-POINTS */
  --breakpoint-2xl: 1440px;
}

body {
  background: var(--background);
  font-family: var(--font-satoshi);
}
